:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--slate);
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

/* ========================Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  width: 1158px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.main-nav .link {
  text-decoration: none;
  font-style: normal;
  gap: 40px;
  padding: 24px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.main-nav-list .link {
  font-weight: 500;
  color: var(--navy-blue);
}

.main-nav-list .link:hover,
.main-nav-list .link:focus {
  color: var(--ocean);
  outline: none;
}
.contacts {
  padding: 24px 0;
  display: flex;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  white-space: nowrap;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
  outline: none;
}
.main-nav-list .link-studio {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 48px;
  height: 4px;
  transition: 250ms;
}

/*==================== /Header */

/* ================section Effective solutions */
.hero {
  background: var(--navy-blue);
  background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-effective-solutions/bc-img.jpg);
  padding-top: 188px;
  padding-bottom: 188px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--cloud);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.button-order {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}
/*==================== /section Effective solutions */

/* ====================Section principles of works */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.principles-of-works {
  padding: 120px 0;
}

.principles-of-works-list {
  display: flex;
  gap: 24px;
}
.principle-of-works {
  flex-basis: calc((100% - 72px) / 4);
}
.principle-of-works-icon {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--cloud);
  margin-bottom: 8px;
}
.principles-of-works-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.principles-of-works-text {
  font-size: 16px;
}
/* ===================== /Section principles of works */

/* ====================Section our team */
.our-team {
  background-color: var(--cloud);
  padding: 120px 0 120px 0;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-member {
  width: calc((100% - 72px) / 4);
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-name-role {
  padding: 32px 0;
  background-color: var(--white);
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.our-team-role {
  text-align: center;
  margin-bottom: 8px;
}
.social-icon-list {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
}
.icon-list {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--ocean);
}
.social-icon {
  fill: var(--cloud);
}
/*==================== /Section our team */

/* ====================Section our portfolio */
.our-portfolio {
  padding: 120px 0px 120px 0px;
}
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border-top: none;
}
.portfolio-list-category {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-category:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-img {
  position: relative;
  overflow: hidden;
}

.product-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-category:hover .overlay-text {
  transform: translateY(0%);
}
/* ====================/Section our portfolio */

/* ====================footer */
.page-footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.container-footer1 {
  width: 286px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  width: 115px;
  height: 24px;
}
.logo-footer-highlight {
  color: var(--cloud);
}
.footer-text-logo {
  color: var(--cloud);
  width: 264px;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.container-footer-logo {
  margin-right: 120px;
}
.container-footer-social {
  width: 208px;
}
.footer-text-social {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--white);
}
.social-icon-list-footer {
  display: flex;
  gap: 16px;
}
.social-icon-footer {
  width: 40px;
  height: 40px;
}
.social-icon-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer-link:hover,
.social-icon-footer-link:focus {
  background-color: var(--green);
}
.social-icon-f {
  fill: var(--cloud);
}
/* =================/footer */

/* =================Modal */
.backdrop {
  background: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 888888;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  width: 408px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  fill: var(--cornflower);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fstroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover {
  fill: var(--ocean);
  stroke: var(--white);
}

.slogan {
  max-width: 360px;
  font-weight: 500;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.form-field-wrapper {
  margin-bottom: 8px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}
.form-input-wrapper {
  position: relative;
}
.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:active {
  border-color: var(--iris);
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:active + .form-input-icon {
  fill: var(--iris);
}
.form-field-comment {
  margin-bottom: 16px;
}
.form-comment {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  color: var(--slate);
  padding: 8px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:active {
  border-color: var(--iris);
}
.form-comment::placeholder {
  color: var(--navy-blue-modal);
}
.form-checkbox-wrapper {
  margin-bottom: 24px;
}
.form-label-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.policy-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
}
.form-checkbox:checked + .form-label-policy .policy-own-checkbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--cloud);
}

.form-checkbox:focus + .form-label-policy .policy-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.privacy-link {
  color: var(--iris);
  text-decoration: underline;
}
.form-submit-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  border: none;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}
.form-submit-button:hover {
  background: var(--ocean);
}
