:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--slate);
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

/* ========================Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.container-header {
  display: flex;
  width: 1158px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.main-nav .link {
  text-decoration: none;
  font-style: normal;
  gap: 40px;
  padding: 24px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.main-nav-list .link {
  font-weight: 500;
  color: var(--navy-blue);
}

.main-nav-list .link:hover,
.main-nav-list .link:focus {
  color: var(--ocean);
  outline: none;
}
.contacts {
  padding: 24px 0;
  display: flex;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  white-space: nowrap;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
  outline: none;
}

/*==================== /Header */

/* ================section Effective solutions */
.effective-solutions {
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  box-sizing: border-box;
}
.effective-solutions-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--cloud);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.button-order {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}
/*==================== /section Effective solutions */

/* ====================Section principles of works */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.principles-of-works {
  padding: 120px 0;
}
.principles-of-works-list {
  display: flex;
  gap: 24px;
}
.principle-of-works {
  flex-basis: calc((100% - 72px) / 4);
}
.principles-of-works-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.principles-of-works-text {
  font-size: 16px;
}
/* ===================== /Section principles of works */

/* ====================Section our team */
.our-team {
  background-color: var(--cloud);
  padding: 120px 0 120px 0;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-member {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-name-role {
  padding: 32px 0;
  background-color: var(--white);
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.our-team-role {
  text-align: center;
}
/*==================== /Section our team */

/* ====================Section our portfolio */
.our-portfolio {
  padding: 120px 0px 120px 0px;
}
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border-top: none;
}
.portfolio-list-category {
  width: calc((100% - 48px) / 3);
}
.product-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
/* ====================/Section our portfolio */

/* ====================footer */
.page-footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  width: 115px;
  height: 24px;
}
.logo-footer-highlight {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  width: 264px;
}
