.no {
  display: none;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--slate);
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
/* ================================================MOBILE */
/* ==================================HEADER */
@media screen and (max-width: 767px) {
  .main-nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}
@media screen {
  .page-header {
    border-bottom: 1px solid var(--cornflower);
    display: flex;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .container-header {
    width: 100%;
    min-width: 288px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
  }
  .header-button-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  /* ==================================HERO */
  .hero {
    background: var(--navy-blue);
    background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-effective-solutions/mob/Dark-bg.jpg);
    padding-top: 72px;
    padding-bottom: 72px;

    box-sizing: border-box;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-title {
    font-weight: 700;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--cloud);
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-order {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-order:hover,
  .button-order:focus {
    background-color: var(--ocean);
  }
  /* ==================================PRINCIPLES */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
  }
  .principles-of-works {
    padding: 96px 0;
  }

  .principles-of-works-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .principle-of-works-icon {
    display: none;
  }
  .principles-of-works-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    color: var(--navy-blue);
  }
  .principles-of-works-text {
    font-weight: 500;
  }
  .our-team {
    background-color: var(--cloud);
    padding: 96px 0 96px 0;
  }
  .our-team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
  }
  .our-team-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 72px;
  }
  .our-team-member {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team-name-role {
    padding: 32px 0;
    width: 264px;
    background-color: var(--white);
    align-items: center;
    text-align: center;
  }
  .our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .our-team-role {
    text-align: center;
    margin-bottom: 8px;
  }
  .social-icon-list {
    display: flex;
    width: 232px;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .icon-list {
    width: 40px;
    height: 40px;
  }
  .social-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icon-link:hover,
  .social-icon-link:focus {
    background-color: var(--ocean);
  }
  .social-icon {
    fill: var(--cloud);
  }
  .our-portfolio {
    padding: 96px 0px 96px 0px;
  }
  .our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 78px;
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-top: none;
  }
  .portfolio-list-category {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-category:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-list-img {
    position: relative;
    overflow: hidden;
  }

  .product-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .our-portfolio-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-category:hover .overlay-text {
    transform: translateY(0%);
  }
}
/* ================================================//MOBILE */

/* ================================================TABLET */
@media screen and (min-width: 768px) {
  .header-button-menu {
    display: none;
  }
  .container-header {
    display: flex;
    min-width: 733px;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
  .main-nav {
    display: flex;
    flex: 1;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .main-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: 500;
  }
  .main-nav-list .link {
    color: var(--navy-blue);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .main-nav-list .link-studio {
    position: relative;
    color: var(--ocean);
  }
  .link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: var(--ocean);
    transition: 250ms;
  }
  .container-header .contacts {
    padding: 16px 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
  }
  .contacts-list {
    margin-left: 121px;
  }
  .contacts-link {
    color: var(--slate);
  }
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-effective-solutions/tab/Dark-bg.jpg);
    padding-top: 121px;
    padding-bottom: 121px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .principles-of-works-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .principle-of-works {
    flex-basis: calc((100% - 24px) / 2);
  }
  .principle-of-works-icon {
    display: none;
  }
  .principles-of-works-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    color: var(--navy-blue);
  }
  .principles-of-works-text {
    font-weight: 500;
  }
  .our-team {
    padding: 96px 0 96px 0;
  }
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  .our-team-member {
    flex-basis: calc((100%-24px) / 2);
  }

  .team-name-role {
    flex-basis: calc((100%-24px) / 2);
  }
  .our-portfolio {
    padding: 96px 0px 96px 0px;
  }
  .our-portfolio-title {
    margin-bottom: 72px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-category {
    flex-basis: calc((100%-24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-category:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-list-img {
    position: relative;
    overflow: hidden;
  }

  .product-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .our-portfolio-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-category:hover .overlay-text {
    transform: translateY(0%);
  }
}

/* ================================================//TABLET */

/* ================================================DESKTOP */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .main-nav-list .link-studio {
    position: relative;
    color: var(--ocean);
  }
  .link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: var(--ocean);
    transition: 250ms;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-effective-solutions/desc/bc-img.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .principles-of-works-list {
    flex-wrap: nowrap;
  }
  .principle-of-works {
    flex-basis: calc((100% - 72px) / 4);
  }
  .principle-of-works-icon {
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--cloud);
    margin-bottom: 8px;
  }

  .principles-of-works-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .principles-of-works-text {
    font-weight: 400;
  }
  .our-team {
    padding: 120px 0 120px 0;
  }
  .our-team-list {
    flex-wrap: nowrap;
  }
  .our-team-member {
    flex-basis: calc((100%-72px) / 4);
  }
}
